[role=alert] {
    color:red;
    //&:before{
    //    content:'[';
    //}

    border:1px solid green;
    background-color: #f0f0f0;
    padding:1rem;
    &:empty{
        padding:0;
        border:0;
        display:none;
    }
    //&:after{
    //    content:']';
    //}
}